/* HEADER (header.php) */

.header {
	box-sizing: border-box;
}

.nav-header {
	box-sizing: border-box;
	padding: 2rem;
	background-color: var(--color-main);
}

.nav-header a {
	color: var(--color-accent) !important;
}

.nav-row {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	gap: 4rem;
}

.nav-col {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.nav-col>div {
	box-sizing: border-box;

	width: 100%;
	height: auto;
}

.nav-col .menu {
	box-sizing: border-box;
	width: 100%;
	height: auto;
}

.nav-col .menu li {
	box-sizing: border-box;
	display: inline-block;
	font-size: 1.5rem;
}

.nav-col .menu li a {
	opacity: 1;
	transition: ease-in-out .5s all;
}

.nav-col .menu li a:hover {
	opacity: 0.85;
	transition: ease-in-out .5s all;
}

.nav-col:nth-child(2) .menu li {
	margin-right: 2rem;
}

.nav-col:nth-child(3) .menu li {
	margin-left: 2rem;
}

.site-title {
	box-sizing: border-box;
	display: block;
	text-decoration: none;
	font-size: 4rem;
	transition: ease-in-out .5s all;
	filter: drop-shadow(1px 1px 10px rgba(154, 5, 35, 0.5));
}

.site-title:hover {
	transition: ease-in-out .5s all;
	filter: drop-shadow(1px 1px 10px rgb(154, 5, 35));
}